//行为相关颜色
$dt-color-info: #999999;
$dt-color-grey: #666666;
$dt-color-primary: #0095D8;
$dt-color-success: #5FB963;
$dt-color-warning: #f0ad4e;
$dt-color-error: #A72038;

//文字基本颜色
$dt-text-color: #333; // 基本色
$dt-text-color-inverse: #fff; // 反色
$dt-text-color-primary: $dt-color-primary; // 主题色
$dt-text-color-grey: $dt-color-grey; // 辅助灰色，如加载更多的提示信息
$dt-text-color-info: $dt-color-info; // 辅助灰色，如加载更多的提示信息
$dt-text-color-placeholder: #cccccc;
$dt-text-color-disable: #c0c0c0;

//背景颜色
$dt-bg-color-primary: $dt-color-primary;
$dt-bg-color: #ffffff;
$dt-bg-color-grey: #f2f2f2;
$dt-bg-color-hover: #f1f1f1; //点击状态颜色
$dt-bg-color-mask: rgba(0, 0, 0, 0.4); //遮罩颜色

//边框颜色 
$dt-border-color: #d3d3d3;
$dt-border-color-light: #e5e5e5;

//文字尺寸
$dt-font-size-smer: 22upx;
$dt-font-size-sm: 24upx;
$dt-font-size-md: 26upx;
$dt-font-size-base: 28upx;
$dt-font-size-lg: 30upx;

//图片尺寸
$dt-img-size-sm: 40upx;
$dt-img-size-base: 52upx;
$dt-img-size-lg: 80upx;

//边角
$dt-border-radius-sm: 4upx;
$dt-border-radius-base: 6upx;
$dt-border-radius-lg: 12upx;
$dt-border-radius-circle: 50%;

//水平间距
$dt-spacing-row-sm: 10px;
$dt-spacing-row-base: 20upx;
$dt-spacing-row-lg: 30upx;

//垂直间距
$dt-spacing-col-sm: 8upx;
$dt-spacing-col-base: 16upx;
$dt-spacing-col-lg: 24upx;

//透明度
$dt-opacity-disabled: 0.3; // 组件禁用态的透明度

//文章场景相关
$dt-color-title: #2c405a; // 文章标题颜色
$dt-font-size-title: 40upx;
$dt-color-subtitle: #555555; // 二级标题颜色
$dt-font-size-subtitle: 36upx;
$dt-color-paragraph: #3f536e; // 文章段落颜色
$dt-font-size-paragraph: 30upx;

